body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.login-box {
  width: 300px;
  background: rgb(229, 236, 236);
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
}

button {
  padding: 8px 20px;
  cursor: pointer;
}